# Node
node_modules/
bun.lockb
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.tmp/

# Env
.env
.env.*.local

# Logs
logs/
*.log
*.log.*
logs/exceptions.log
logs/rejections.log

# Prisma
generated/
.prisma/

# Docker
docker-data/

# OS
.DS_Store
Thumbs.db
